@model Army_Management_System.Models.Admin

@{


}

<body class="fix-header fix-sidebar card-no-border" onload="checkboxes_load_function()">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @*<div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>*@
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @*<div id="main-wrapper">*@
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @{
        Html.RenderPartial("Header");
    }
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    @{
        Html.RenderPartial("Side_Navigation");
    }
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Edit Admin</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Main Menu</li>
                    <li class="breadcrumb-item active custom_lime_green">Edit New Admin</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">Admin Information</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="@Url.Action("Edit_Admin","Admin")" data-parsley-validate class="" enctype="multipart/form-data">
                                <div class="form-body">

                                    <input hidden id="new_image_value" name="new_image_value" type="text" />

                                    <h3 class="card-title">Admin Info</h3>
                                    <hr>


                                    <div class="row p-t-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <input type="text" name="name" id="name" class="form-control" required placeholder="Name" value="@Model.Name">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Username</label>
                                                <input type="text" name="username" id="username" class="form-control" required placeholder="Username" value="@Model.Username">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <input type="text" class="form-control" name="password" id="password" required placeholder="Password" value="@Model.Passwod">
                                            </div>
                                        </div>




                                    </div>

                                    <div class="row p-t-20">


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">CNIC</label>
                                                <input type="text" class="form-control" name="cnic" id="cnic" required placeholder="CNIC" value="@Model.CNIC">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="text" class="form-control" name="email" id="email" required placeholder="Email" value="@Model.Email">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Phone No.</label>
                                                <input type="text" class="form-control" name="phone" id="phone" required placeholder="Phone No." value="@Model.Phone_No">
                                            </div>
                                        </div>




                                    </div>


                                    <div class="row p-t-20">





                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Address</label>
                                                <input type="text" class="form-control" name="address" id="address" required placeholder="Address" value="@Model.Address">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">City</label>
                                                <input type="text" class="form-control" name="city" id="city" required placeholder="City" value="@Model.City">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Rank</label>
                                                <select class="form-control custom-select" name="rank">
                                                    <option value="@Model.Rank_Id">@Model.Rank_Names.Rank_Name</option>
                                                    @foreach (var rank in ViewBag.Rank)
                                                    {
                                                        if (@Model.Rank_Id == rank.Id)
                                                        {
                                                            continue;
                                                        }

                                                    <option value="@rank.Id">@rank.Rank_Name</option>
                                                    }

                                                </select>

                                            </div>
                                        </div>

                                    </div>


                                    <h3 class="box-title m-t-40">Image</h3>
                                    <hr>



                                    <h3 class="box-title m-t-40">Soldier Image</h3>
                                    <hr>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-4">
                                            <h5 class="card-title">New Image</h5>
                                            <div class="card" style="background-color: #c2e4c2;">
                                                <div class="card-body">
                                                    <input type="file" id="input-file-now" class="dropify" name="image" onclick="previous_admin_image()" />
                                                </div>
                                            </div>
                                        </div>






                                        <script>
                                            function previous_admin_image() {
                                                $(".hide_admin_previous_image").hide();
                                                $("#new_image_value").val(1);
                                            }
                                        </script>
                                        @if (Model.Image != null)
                                        {



                                            <div class="col-lg-4 col-md-4 hide_admin_previous_image">
                                                <h5 class="card-title">Old Image</h5>
                                                <div class="card" style="background-color: #c2e4c2;">
                                                    <div class="card-body">

                                                        <div class="dropify-wrapper">
                                                            <div class="dropify-message"><span class="fa fa-4x fa-cloud-upload"></span> </div><div class="dropify-loader" style="display: none;"></div><div class="dropify-errors-container"><ul></ul></div><input type="text" id="" class="dropify">
                                                            <div class="dropify-preview" style="display: block;">
                                                                <span class="dropify-render">
                                                                    @{
                                                                        var Base64 = Convert.ToBase64String(@Model.Image);
                                                                        var imgsrc = string.Format("data:img/gif;base64,{0}", Base64);

                                                                        <img src="@imgsrc" />

                                                                    }

                                                                </span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span></p></div></div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="javascript:;" @*style="margin-top:31px"*@ class="btn btn-danger" onclick="previous_admin_image()"><i class="fa fa-minus"></i> Remove</a>
                                            </div>

                                            @*<div class="col-lg-4 col-md-4 hide_soldier_previous_image">

                                                    <div class="card" style="background-color: #c2e4c2;">
                                                        <div class="card-body">


                                                            <div class="dropify-wrapper has-preview">
                                                                <div class="dropify-message">
                                                                    <span class="file-icon"></span> <p>Drag and drop a file here or click</p>
                                                                    <p class="dropify-error">Ooops, something wrong appended.</p>
                                                                </div>
                                                                <div class="dropify-loader" style="display: none;"></div>
                                                                <div class="dropify-errors-container"><ul></ul></div>
                                                                <input type="file" id="input-file-now-custom-1" class="dropify">

                                                                <div class="dropify-preview" style="display: block;">
                                                                    <span class="dropify-render">


                                                                    </span>
                                                                    <div class="dropify-infos">
                                                                        <div class="dropify-infos-inner">
                                                                            <p class="dropify-filename">
                                                                                <span class="file-icon"></span> <span class="dropify-filename-inner">test-image-1.jpg</span>
                                                                            </p><p class="dropify-infos-message">Drag and drop or click to replace</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>*@

                                        }
                                    </div>









                                    <h3 class="box-title m-t-40">Permissions</h3>
                                    <hr>
                                    <div class="row p-t-20">

                                        @*<div class="offset-sm-3 col-sm-9 col-md-3"></div>*@

                                        @*<div class="col-md-3">
                                            <div class="checkbox checkbox-success">
                                                <input id="view_Soldier" onclick="view_soldier_click()" type="checkbox" class="filled-in chk-col-light-green" name="view_soldier" value="@Model.Permission_View_Soldier">

                                                <label for="view_Soldier">View Soldiers</label>
                                            </div>
                                        </div>*@

                                        <div class="col-md-3">
                                            <div class="checkbox checkbox-success">
                                                <input id="add_Soldier" onclick="add_soldier_click()" type="checkbox" class="filled-in chk-col-light-green" name="add_soldier" value="@Model.Permission_Add_Soldier">
                                                <label for="add_Soldier">Add Soldiers</label>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="checkbox checkbox-success">
                                                <input id="edit_Soldier" onclick="edit_soldier_click()" type="checkbox" class="filled-in chk-col-light-green" name="edit_soldier" value="@Model.Permission_Edit_Soldier">
                                                <label for="edit_Soldier">Edit Soldiers</label>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="checkbox checkbox-success">
                                                <input id="delete_Soldier" onclick="delete_soldier_click()" type="checkbox" class="filled-in chk-col-light-green" name="delete_soldier" value="@Model.Permission_Delete_Soldier">
                                                <label for="delete_Soldier">Delete Soldiers</label>
                                            </div>
                                        </div>

                                        <script>
                                            function checkboxes_load_function() {
                                                var view = $("#view_Soldier").val();
                                                var add = $("#add_Soldier").val();
                                                var edit = $("#edit_Soldier").val();
                                                var del = $("#delete_Soldier").val();

                                                if (view == 1) {
                                                    document.getElementById("view_Soldier").checked = true;
                                                    //alert("IF view");
                                                }

                                                if (add == 1) {
                                                    document.getElementById("add_Soldier").checked = true;
                                                    //alert("IF add");
                                                }

                                                if (edit == 1) {
                                                    document.getElementById("edit_Soldier").checked = true;
                                                    //alert("IF edit");
                                                }

                                                if (del == 1) {
                                                    document.getElementById("delete_Soldier").checked = true;
                                                    //alert("IF del");
                                                }

                                            }
                                        </script>

                                        <script>
                                            function view_soldier_click() {
                                                if (document.getElementById("view_Soldier").checked) {
                                                    $("#view_Soldier").val(1);
                                                    //alert("if  view_Soldier " + $("#view_Soldier").val());
                                                } else {
                                                    $("#view_Soldier").val(0);
                                                    //alert("else  view_Soldier  " + $("#view_Soldier").val());
                                                }
                                            }



                                        </script>

                                        <script>
                                            function add_soldier_click() {
                                                if (document.getElementById("add_Soldier").checked) {
                                                    $("#add_Soldier").val(1);
                                                    //alert("if add_Soldier " + $("#add_Soldier").val());
                                                } else {
                                                    $("#add_Soldier").val(0);
                                                    //alert("else  add_Soldier  " + $("#add_Soldier").val());
                                                }
                                            }
                                        </script>

                                        <script>

                                            function edit_soldier_click() {
                                                if (document.getElementById("edit_Soldier").checked) {
                                                    $("#edit_Soldier").val(1);
                                                    //alert("if edit_Soldier  " + $("#edit_Soldier").val());
                                                } else {
                                                    $("#edit_Soldier").val(0);
                                                    //alert("else  edit_Soldier " + $("#view_Soldier").val());
                                                }
                                            }
                                        </script>

                                        <script>
                                            function delete_soldier_click() {
                                                if (document.getElementById("delete_Soldier").checked) {
                                                    $("#delete_Soldier").val(1);
                                                    //alert("if  delete_Soldier " + $("#delete_Soldier").val());
                                                } else {
                                                    $("#delete_Soldier").val(0);
                                                    //alert("else  delete_Soldier " + $("#delete_Soldier").val());
                                                }
                                            }
                                        </script>

                                        @*<div class="offset-sm-3 col-sm-9 col-md-2"></div>*@

                                    </div>


                                    <div class="form-actions  m-t-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    @*<div class="col-md-4"></div>*@
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn btn-themecolor"> <i class="fa fa-check"></i> Submit</button>
                                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                                    </div>
                                                    @*<div class="col-md-4"></div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->



</body>
