@{
    int Active = 1, Deactive = 0; ;
}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img">
                @*<img src="@Session["image"]" alt="user" />*@
                <img src="~/images/pak_army.jpg" alt="user" />
                
                <!-- this is blinking heartbit-->
                @*<div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>*@
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5>@Session["admin_name"]</h5>
                <h6 style="color:lightblue">@Session["rank_name"]</h6>
                @*<h6 style="color:lightblue">@Session["username"]</h6>
                <h6 style="color:lightblue">@Session["admin_id"]</h6>*@
                <a href="~/Home/Index" class=""><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation--><!-- Sidebar navigation--><!-- Sidebar navigation--><!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li>
                    <a class="waves-effect waves-dark" href="~/Admin/Index" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Main Menu</span></a>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Soldiers</span></a>
                    <ul aria-expanded="false" class="collapse">
                        @if (Session["admin_add_permission"].ToString() != "0")
                        {
                            <li><a href="~/Soldier/Soldier_Form_Data">Add Soldier </a></li>
                        }
                        <li><a href="~/Soldier/List_Soldier">List Soldier</a></li>
                        <li><a href="~/Soldier/Search_Soldier">Search Soldier</a></li>
                    </ul>
                </li>
                @if (Session["admin_type"].ToString() == "Super Admin")
                {

                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Admin</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="~/Admin/Admin_Form_Data">Create Admin</a></li>
                            <li><a href="~/Admin/List_Admin">List Admin</a></li>
                        </ul>
                    </li>
                }


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>