@model Army_Management_System.Models.Soldier

@{
    string edit_permission = Session["admin_edit_permission"].ToString();
}

<body class="fix-header fix-sidebar card-no-border">

    @{
        Html.RenderPartial("Header");
    }

    @{
        Html.RenderPartial("Side_Navigation");
    }

    <div class="page-wrapper">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">View Soldier Profile</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Main Menu</li>
                    <li class="breadcrumb-item active custom_lime_green">View Soldier Profile</li>
                </ol>
            </div>

        </div>

        <div class="container-fluid">

            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30">
                                @*<img src="../assets/images/users/5.jpg" class="img-circle" width="150" />*@
                                @if (Model.Soldier_Image != null)
                                {
                                    var Base64 = Convert.ToBase64String(@Model.Soldier_Image);
                                    var imgsrc = string.Format("data:img/gif;base64,{0}", Base64);



                                    <img src="@imgsrc" class="img-circle" width="150" height="150" />
                                }

                                else
                                {
                                    <img src="../assets/images/users/5.jpg" class="img-circle" width="150" />
                                }

                                <h4 class="card-title m-t-10">@Model.Name   </h4>
                                <h6 class="card-subtitle">@Model.Rank_Names.Rank_Name</h6>

                            </center>
                          
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body">
                            <small class="text-muted">No</small>
                            <h6>@Model.Person_Number</h6>
                            
                            <small class="text-muted p-t-30 db">CNIC</small>
                            <h6>@Model.CNIC</h6>

                            <small class="text-muted p-t-30 db">Cl Compsn</small>
                            <h6>@Model.Class_Composition_Names.Compostion_Name</h6>
                            
                            

                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Profile</a> </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Full Name</label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Demography</label>
                                        <div class="col-md-12">
                                            <input type="email" value="@Model.Demography" class="form-control form-control-line" name="example-email" id="example-email" readonly>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label for="example-email" class="col-md-12">Cl Compsn</label>
                                        <div class="col-md-12">
                                            <input type="email" value="@Model.Class_Composition_Names.Compostion_Name" class="form-control form-control-line" name="example-email" id="example-email" readonly>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-md-12">Date Of Enrollment</label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.Date_Enrollment.ToShortDateString()" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                <label class="col-md-12">Date Of Present Rank</label>
                <div class="col-md-12">
                    <input type="text" value="@Model.Date_Present_Rank.ToShortDateString()" class="form-control form-control-line" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" readonly>Date Of SOD</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Date_SOD.ToShortDateString()" class="form-control form-control-line" readonly>
                </div>
            </div>*@
                                    @*<div class="form-group">
                                        <label class="col-sm-12" readonly>CNIC</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.CNIC" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Marital Status</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Marital_Status.Marital_Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Caste</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Caste" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Sect</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Sect" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Blood Group</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Blood_Group_Names.Blood_Group_Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Military Qualification</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Military_Qualification_Names.Military_Qual_Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Civil Qualification</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Civil_Qualification_Names.Civil_Qual_Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                <label class="col-sm-12" readonly>Sport</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Sport_Names.Sport_Name" class="form-control form-control-line" readonly>
                </div>
            </div>*@
                                    @*<div class="form-group">
                <label class="col-sm-12" readonly>Medical Category</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Medical_Record_Category_Names.Record_Name" class="form-control form-control-line" readonly>
                </div>
            </div>*@
                                    @*<div class="form-group">
                <label class="col-sm-12" readonly>Red Entry</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Red_Entry_Status" class="form-control form-control-line" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" readonly>Years</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Service_Years" class="form-control form-control-line" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" readonly>Month</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Service_Months" class="form-control form-control-line" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" readonly>Days</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Service_Days" class="form-control form-control-line" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12" readonly>Date</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Present_Soldier_Service_Date" class="form-control form-control-line" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" readonly>Location</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Present_Soldier_Service_Location" class="form-control form-control-line" readonly>
                </div>
            </div>*@


                                    @*<div class="form-group">
                <label class="col-sm-12" readonly>Unit</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.Services_Record.Unit" class="form-control form-control-line" readonly>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-12" readonly>Location</label>
                    <div class="col-sm-12">
                        <input type="text" value="@Model.Services_Record.Location" class="form-control form-control-line" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12" readonly>From</label>
                    <div class="col-sm-12">
                        <input type="text" value="@Model.Services_Record.From_Date" class="form-control form-control-line" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12" readonly>To</label>
                    <div class="col-sm-12">
                        <input type="text" value="@Model.Services_Record.To_Date" class="form-control form-control-line" readonly>
                    </div>
                </div>*@

                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Village</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Village" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                <label class="col-sm-12" readonly>P/O</label>
                <div class="col-sm-12">
                    <input type="text" value="@Model.P/O" class="form-control form-control-line" readonly>
                </div>
            </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Thana</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Thana" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Tehsil</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Tehsil" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>District</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.District" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12" readonly>Service Status</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="@Model.Soldier_Service_Status.Service_Status_Name" class="form-control form-control-line" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @if (edit_permission != "0")
                                            {
                                                <a href="~/Soldier/Edit_Soldier/@Model.Id" class="btn btn-success">Edit Profile</a>
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>


            <div class="clear"></div>

            <div style="margin-bottom:400px">
            </div>
            <div class="clear"></div>

            <!-- Row -->
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->



</body>