<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @*<div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>*@
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @{
            Html.RenderPartial("Header");
        }
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @{
            Html.RenderPartial("Side_Navigation");
        }
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="">


            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Search Soldier</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item custom_lime_green active">Search Existing Soldier</li>
                    </ol>
                </div>

            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">

                                <div class="col-md-5 align-self-center p-l-0">
                                    <h3 class="text-themecolor search_Soldiers_styling_index_page">Search Soldier:</h3>
                                </div>



                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">No</label>
                                            <input type="text" name="person_number" id="person_number" class="form-control" placeholder="No">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Rank</label>
                                            <select class="form-control custom-select" name="rank_id" id="rank_id">
                                                <option value="-1">-- Select Rank --</option>
                                                @foreach (var rank in ViewBag.Rank)
                                                {
                                                    <option value="@rank.Id">@rank.Rank_Name</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Trade</label>
                                            <select class="form-control custom-select" name="trade_id" id="trade_id">
                                                <option value="-1">-- Select Trade --</option>
                                                @foreach (var trade in ViewBag.Trade)
                                                {
                                                    <option value="@trade.Id">@trade.Trade_Name</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" onkeypress="validation_alphabetical(event)">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label">Height (Cm)</label>
                                            <select name="height" id="height" class="form-control custom-select">
                                                <option value="-1">-- Select Height --</option>

                                                @foreach (var height in ViewBag.Height)
                                                {
                                                    <option value="@height.Id">@height.Height_Name</option>
                                                }

                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Weight (Kg)</label>
                                            <select name="weight" id="weight" class="form-control custom-select">
                                                <option value="-1">-- Select Weight --</option>
                                                @foreach (var weight in ViewBag.Weight)
                                                {
                                                    <option value="@weight.Id">@weight.Weight_Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>




                                </div>


                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" id="show_advance_search_option_btn">
                                        <div class="form-group pull-right">
                                            <a class="advance_search_a_tag m-0 font-12" href="#" onclick="show_search_filters()">Advance Search Options</a>
                                        </div>
                                    </div>

                                </div>

                                <script>
                                    function show_search_filters() {
                                        //alert("ASDadasd");
                                        $(".hide_search_filters").show();
                                        $("#show_advance_search_option_btn").hide();


                                        $("#hide_advance_search_option_btn").show();

                                    }




                                </script>





                                <div class="hide_search_filters" style="display:none">



                                    <div class="row p-t-20">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Beard</label>
                                                <select class="form-control custom-select" id="beard" name="beard">
                                                    <option value="-1">-- Select Choice --</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Complexion</label>
                                                <input type="text" name="complexion" id="complexion" class="form-control" placeholder="Complexion" onkeypress="validation_alphabetical(event)">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Demography</label>
                                                <input type="text" class="form-control" name="demography" id="demography" placeholder="Demography" onkeypress="validation_alphabetical(event)">
                                            </div>
                                        </div>







                                    </div>



                                    <div class="row p-t-20">




                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Cl Compsn</label>
                                                <select class="form-control custom-select" name="cl_compsn" id="cl_compsn">
                                                    <option value="-1">-- Select Cl Compsn --</option>
                                                    @foreach (var composition in ViewBag.Class_Composition)
                                                    {
                                                        <option value="@composition.Id">@composition.Compostion_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        @*<input value="@DateTime.Today.ToString("MM-dd-yyy")" id="today_date"/>*@
                                        @*<input type="date" value="@DateTime.Now" id="today_date"/>*@

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Date Of Enrollment</label>
                                                <input type="text" class="form-control" name="date_of_enrl" @*onchange="getAge(this.value)"*@ id="date_of_enrl" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Date Of Present Rank</label>
                                                <input type="text" class="form-control" name="date_of_present_rank" id="date_of_present_rank" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>



                                    </div>


                                    <div class="row p-t-20">








                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Date Of SOD</label>
                                                <input type="text" class="form-control" name="date_of_sod" id="date_of_sod" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">CNIC</label>
                                                <input type="text" class="form-control" name="cnic" id="cnic" placeholder="CNIC" onkeypress="validation_CNIC(event)">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Marital Status</label>
                                                <select class="form-control custom-select" name="marital_status" id="marital_status">
                                                    <option value="-1">-- Select Marital Status --</option>
                                                    @foreach (var marital in ViewBag.Marital_Status)
                                                    {
                                                        <option value="@marital.Id">@marital.Marital_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>





                                    <div class="row p-t-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Caste</label>
                                                <input type="text" name="caste" id="caste" class="form-control" placeholder="Caste" onkeypress="validation_alphabetical(event)">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Sect</label>
                                                <input type="text" name="sect" id="sect" class="form-control" placeholder="Sect" onkeypress="validation_alphabetical(event)">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Blood Group</label>
                                                <select class="form-control custom-select" name="blood_group" id="blood_group">
                                                    <option value="-1">-- Select Blood Group --</option>

                                                    @foreach (var blood_group in ViewBag.Blood_Group)
                                                    {
                                                        <option value="@blood_group.Id">@blood_group.Blood_Group_Name</option>
                                                    }


                                                </select>
                                            </div>
                                        </div>



                                    </div>



                                    <div class="row p-t-20">

                                        <div class="clear"></div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Military Qualification</label>
                                                <select class="form-control custom-select" name="military_qualification" id="military_qualification">
                                                    <option value="-1">-- Select Military Qual --</option>
                                                    @foreach (var military in ViewBag.Military_Qualification)
                                                    {
                                                        <option value="@military.Id">@military.Military_Qual_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Civil Qualification</label>
                                                <select class="form-control custom-select" name="civil_qualification" id="civil_qualification">
                                                    <option value="-1">-- Select Civil Qual --</option>
                                                    @foreach (var civil in ViewBag.Civil_Qualification)
                                                    {
                                                        <option value="@civil.Id">@civil.Civil_Qual_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Red Entry</label>
                                                <select class="form-control pull-left custom-select" name="red_entry_dropdown" id="red_entry_dropdown">
                                                    <option value="-1">-- Select --</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>

                                            </div>
                                        </div>



                                    </div>



                                    <div class="row p-t-20">


                                        @*<select class="form-control custom-select" name="sport_name" id="sport_name">

                        </select>*@


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Sport</label>



                                                <select class="form-control custom-select" name="sport_name" id="sport_name">
                                                    <option value="-1">-- Select Sport --</option>

                                                    @foreach (var sport in ViewBag.Sport_Names)
                                                    {
                                                        <option value="@sport.Id">@sport.Sport_Name</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Medical Category</label>
                                                <select class="form-control custom-select" name="medical_category_id" id="medical_category_id">
                                                    <option value="-1">-- Select Category --</option>
                                                    @foreach (var category in ViewBag.Medical_Category_Names)
                                                    {
                                                        <option value="@category.Id">@category.Record_Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Course Name</label>
                                                <div>
                                                    <input type="text" name="course_name" id="course_name" class="form-control" placeholder="Courses" onkeypress="validation_alphabetical(event)">
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="row p-t-20">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Village</label>
                                                <div>
                                                    <input type="text" name="village" id="village" class="form-control" placeholder="Village" onkeypress="validation_alphabetical(event)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">P/O</label>
                                                <div>
                                                    <input type="text" name="p_o" id="p_o" class="form-control" placeholder="P/O" onkeypress="validation_alphabetical(event)">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Thana</label>
                                                <input type="text" class="form-control" name="thanas" id="thana" placeholder="Thana" onkeypress="validation_alphabetical(event)">
                                            </div>
                                        </div>





                                    </div>

                                    <div class="row p-t-20">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Tehsil</label>
                                                <div>
                                                    <input type="text" name="tehsil" id="tehsil" class="form-control" placeholder="Tehsil" onkeypress="validation_alphabetical(event)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Distt</label>
                                                <div>
                                                    <input type="text" name="distt" id="distt" class="form-control" placeholder="Distt" onkeypress="validation_alphabetical(event)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Service Status</label>
                                                <select class="form-control custom-select" name="soldier_service_status" id="soldier_service_status">
                                                    <option value="-1">-- Select Status --</option>
                                                    @foreach (var service in ViewBag.Soldier_Status)
                                                    {
                                                        <option value="@service.Id">@service.Service_Status_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>









                                    </div>


                                    <div class="row p-t-20">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">ACRs Year</label>
                                                <input type="text" name="acr_year" id="acr_year" class="form-control" placeholder="ACRs Year" onkeypress="validation_numeric(event)" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">ACRs Grade Scale</label>
                                                <select class="form-control custom-select" name="accr_grading_scale" id="accr_grading_scale">
                                                    <option value="-1">-- Select Ability --</option>
                                                    @foreach (var acr in ViewBag.ACR_Grade)
                                                    {
                                                        <option value="@acr.Id">@acr.Performance_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>



                                    </div>






                                </div>


                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="display:none" id="hide_advance_search_option_btn">
                                        <div class="form-group pull-right">
                                            <a class="advance_search_a_tag m-0 font-12" href="#" onclick="hide_search_filters()">Hide Advance Search Options</a>
                                        </div>
                                    </div>

                                </div>

                                <script>
                                    function hide_search_filters() {
                                        //alert("ASDadasd");
                                        $(".hide_search_filters").hide();
                                        $("#show_advance_search_option_btn").show();


                                        $("#hide_advance_search_option_btn").hide();
                                    }

                                </script>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10"></div>
                                                <div class="col-md-2 pull-right">
                                                    <button type="submit" class="btn btn-themecolor" onclick="show_Soldier_table()"> <i class="fa fa-check"></i> Search</button>
                                                    @*<button type="submit" class="btn btn-themecolor" onclick="search_ajax_call()"> <i class="fa fa-check"></i> Search</button>*@
                                                    @*<button type="submit" class="btn btn-themecolor" onclick="hhh()"> <i class="fa fa-check"></i> Search22222</button>*@
                                                </div>
                                                @*<div class="col-md-4"></div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <hr class="hr_height p-b-40" />

                                <div class="hide_table_Soldier" style="display:none">


                                    <h3 class="card-title">Soldier LIST</h3>
                                    @*<h6 class="card-subtitle">Data table example</h6>*@
                                    <div class="table-responsive m-t-10">
                                        <table id="aa" class="table full-color-table full-warning-table hover-table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Rank</th>
                                                    <th class="text-center">Address</th>
                                                    <th class="text-center">Email</th>
                                                    <th class="text-center">Phone No</th>
                                                    @*<th class="text-center">CNIC</th>*@
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        @*<table id="myTable" class="table full-color-table full-dark-table">*@
                                        @*<table id="myTable" class="table color-table dark-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                        </table>*@

                                    </div>

                                </div>

                            </div>
                        </div>



                        <div class="clear"></div>

                        <div style="margin-bottom:400px">
                        </div>
                        <div class="clear"></div> 


                    </div>
                </div>

            </div>

            <script>
    function show_Soldier_table() {
        $(".hide_table_Soldier").show();
    }

            </script>



            <script>
                $(document).ready(function () {
                    $('#aa').DataTable();
                    $(document).ready(function () {
                        var table = $('#example').DataTable({
                            "columnDefs": [{
                                "visible": false,
                                "targets": 2
                            }],
                            "order": [
                                [2, 'asc']
                            ],
                            "displayLength": 25,
                            "drawCallback": function (settings) {
                                var api = this.api();
                                var rows = api.rows({
                                    page: 'current'
                                }).nodes();
                                var last = null;
                                api.column(2, {
                                    page: 'current'
                                }).data().each(function (group, i) {
                                    if (last !== group) {
                                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                        last = group;
                                    }
                                });
                            }
                        });
                        // Order by the grouping
                        $('#example tbody').on('click', 'tr.group', function () {
                            var currentOrder = table.order()[0];
                            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                                table.order([2, 'desc']).draw();
                            } else {
                                table.order([2, 'asc']).draw();
                            }
                        });
                    });
                });
                $('#example23').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            </script>



            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            @{
                Html.RenderPartial("Footer");
            }
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script>
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker_autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date_of_enrl').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date_of_present_rank').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date_of_sod ').datepicker({
        autoclose: true,
        todayHighlight: true
    });



    </script>



</body>